# Created by venv; see https://docs.python.org/3/library/venv.html
*
.env
# Ignore Python environment folders and config
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables
.env

# Allow everything else
!*
!app.py
!README.md
!templates/
!static/
!instance/
